{% extends "frontend/base_layout/base_layout.html" %}{% load static %}
{% block title %} Kontak {% endblock %}
{% block main %}

<div role="main" class="main px-3 px-lg-5">

    <div class="page-header py-0 bg-tertiary px-3 px-xl-0 border-radius-2 p-relative mb-0 overflow-hidden bg-size-cover bg-position-center overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url({% static 'frontend/img/bg_tentang/gnirengg.png' %});">                
        <div class="container p-relative z-index-5 py-2">
            <div class="row mh-200px mh-lg-300px align-items-center py-4">
                <div class="col">
                    <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                        <span class="badge bg-color-dark-rgba-30 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Hubungi Kami</span></span>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-dark text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Hubungi Kami</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="{% url 'app:index_user' %}" class="text-light text-decoration-none">Home</a></li>
                            <li class="active text-light opacity-7">Kontak</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>            

    <!-- Intro -->
    <div class="container pt-4 pt-lg-5 pb-4" id="intro">
        <div class="row pt-4">
            <div class="col">
                <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                    <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Hubungi Kami</span></span>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                    <h2 class="text-5 text-md-12 font-weight-semibold line-height-1 mb-2">Ada Pertanyaan Tentang Wisata di Gunungkidul?</h2>
                </div>
            </div>
            <div class="col-lg-7 p-relative">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <p class="mb-0">Tim kami siap membantu Anda! Apakah Anda ingin tahu rute terbaik ke pantai tersembunyi, rekomendasi penginapan, atau hanya ingin berbagi masukan Jangan ragu untuk menghubungi kami melalui formulir, email, atau WhatsApp.</p>
                </div>
            </div>
        </div>
        
        <div class="row mt-5 pt-2">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="700">

                    <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'autoplay': true, 'dots': false, 'autoplayTimeout': 5000, 'margin': 10, 'animateOut': 'fadeOut'}">
                        <div>
                            <img src="{% static 'frontend/img/dt_kontak/Logo_Kabupatengk.jpg' %}"
                                 alt="Logo Kabupaten"
                                 style="width: 260px; height: 260px; object-fit: contain; display: block; margin: 0 auto;">
                        </div>
                        <div>
                            <img src="{% static 'frontend/img/icons/icon-4x4.png' %}"
                                 alt="Logo Kabupaten"
                                 style="width: 260px; height: 260px; object-fit: contain; display: block; margin: 0 auto;">
                        </div>
                        <div>
                            <img src="{% static 'frontend/img/dt_kontak/logoDIY.png' %}"
                                 alt="Logo Kabupaten"
                                 style="width: 260px; height: 260px; object-fit: contain; display: block; margin: 0 auto;">
                        </div>
                    </div>                              

                </div>
            </div>
            {% for dt_kontak in kontak %}
            <div class="col-lg-4 mb-3 mb-lg-0">
                <div class="feature-box feature-box-secondary">
                    <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                        <img src="{% static 'frontend/img/icons/pin-light.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                    </div>
                    <div class="feature-box-info ps-3">
                        <strong class="d-block text-4-5 text-dark mb-1">Alamat Kantor</strong>
                        <p class="mb-0 text-3-5 line-height-7">{{ dt_kontak.alamat }}</p>
                        <!-- <p class="mb-0 text-3-5 line-height-7">Cityville, State, 12345</p> -->
                        <p class="mb-0 text-3-5 line-height-7"><a href="https://maps.app.goo.gl/dkYS3ThD2wQDzLvCA" target="_blank" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">Klik Rute</a></p>
                        
                    </div>
                </div>

                <div class="feature-box feature-box-secondary mt-4 pt-2">
                    <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                        <img src="{% static 'frontend/img/icons/email.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                    </div>
                    <div class="feature-box-info ps-3">
                        <strong class="d-block text-4-5 text-dark mb-1">E-mail</strong>
                        <p class="mb-0 text-3-5 line-height-7">Email Utama : </p>
                        <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="mailto:info@youraccountingfirm.com" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ dt_kontak.email }}</a></p>
                        <!-- <p class="mb-0 text-3-5 line-height-7">Email</p>
                        <p class="mb-0 text-3-5 line-height-7 pb-3"><a href="mailto:support@youraccountingfirm.com" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">support@youraccountingfirm.com</a></p> -->
                    </div>
                </div>

            </div>
            <div class="col-lg-4">

                <div class="feature-box feature-box-secondary">
                    <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                        <img src="{% static 'frontend/img/icons/phone-2.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                    </div>
                    <div class="feature-box-info ps-3">
                        <strong class="d-block text-4-5 text-dark mb-1">Telepon</strong>
                        <p class="mb-0 text-3-5 line-height-7">Telepon Utama : <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ dt_kontak.phone }}</a></p>
                        <p class="mb-0 text-3-5 line-height-7">Fax : <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">{{ dt_kontak.phone }}</a></p>
                        <!-- <p class="mb-0 text-3-5 line-height-7">Client Support: <a href="tel:1234567890" class="text-color-secondary text-color-hover-primary font-weight-semi-bold text-decoration-underline">800 123 4567</a></p> -->
                    </div>
                </div>

                <div class="feature-box feature-box-secondary mt-4 pt-2">
                    <div class="feature-box-icon feature-box-icon-lg p-static box-shadow-7">
                        <img src="{% static 'frontend/img/icons/clock.svg' %}" width="30" height="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-light'}" />
                    </div>
                    <div class="feature-box-info ps-3">
                        <strong class="d-block text-4-5 text-dark mb-1">Jam Operasional</strong>
                        <p class="mb-0 text-3-5 line-height-7">{{ dt_kontak.jam_operasional }}</p>
                        <p class="mb-0 text-3-5 line-height-7">Sabtu - Minggu : Tutup</p>
                    </div>
                </div>

            </div>
            {% endfor %} 
        </div>


        <div class="row pt-4">
            <div class="col pt-4">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <p class="mb-0 text-dark d-flex justify-content-center">
                        <img src="img/demos/accounting-1/icons/icon-5.svg" width="30" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-dark me-2'}" />
                        Layanan 24/7 – Siap membantu Anda menemukan destinasi wisata kapan pun Anda butuh.
                    </p>
                </div>
            </div>
        </div>

    </div>


    {% for dt_kontak in kontak %}
    <div class="bg-grey-100 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden mt-5">
        <iframe
            id="googlemaps"
            class="google-map m-0"
            src="{{ dt_kontak.link_maps }}"
            style="min-height: 580px; border:0;"
            allowfullscreen=""
            loading="lazy">
        </iframe>
    </div>
    {% endfor %} 

    <!-- Free Quote -->
    <div class="container pt-5">
        <div class="row pt-4 pt-lg-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                    <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Form Masukkan</span></span>
                </div>
                <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Kirim Kritik Dan Saran Anda</h2>

                <form class="contact-form pt-3" action="{% url 'app:kritik_saran' %}" method="POST">
                    {% csrf_token %}
                    <div class="contact-form-success alert alert-success d-none mt-4">
                        <strong>Success!</strong> Kritik & Saran Anda berhasil dikirim.
                    </div>
                
                    <div class="contact-form-error alert alert-success d-none mt-4">
                        <strong>Success!</strong> Kritik & Saran Anda berhasil dikirim.
                        <span class="mail-error-message text-1 d-block"></span>
                    </div>
                
                    {% comment %} <div class="row">
                        <div class="form-group col">
                            <label class="form-label font-weight-bold text-uppercase text-dark mb-1 text-2">
                                ID Pengguna (Opsional)
                            </label>
                            <input 
                                type="text" 
                                name="id_pengguna" 
                                class="form-control text-3 h-auto border-width-2 border-radius-2 border-color-grey-200 py-2" 
                                placeholder="Kosongkan jika ingin anonim">
                        </div>
                    </div> {% endcomment %}
                
                    <div class="row">
                        <div class="form-group col">
                            <label class="form-label font-weight-bold text-uppercase text-dark mb-1 text-2">
                                Kritik & Saran
                            </label>
                            <textarea 
                                maxlength="5000" 
                                placeholder="Masukkan Kritik atau Saran Anda" 
                                rows="6" 
                                class="form-control text-3 h-auto border-width-2 border-radius-2 border-color-grey-200 py-2" 
                                name="kritiksaran" 
                                required></textarea>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="form-group col">
                            <div class="cf-turnstile" data-language="id-id" data-theme="light" data-sitekey="0x4AAAAAAAzWMysnlclxwmYa" data-size="flexible"></div>
                        </div>
                    </div>
    
                
                    <div class="row">
                        <div class="form-group col">
                            <button type="submit" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                                <span>Kirim <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
                
                

            </div>
            <div class="col-lg-5 ps-lg-5">

                <div class="appear-animation pt-lg-5 mt-lg-2" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                    <div class="d-flex align-items-center pt-2 pb-4">
                        <p class="d-inline-block mb-0 font-weight-bold line-height-1"><mark class="text-dark mark mark-pos-2 mark-height-50 mark-color bg-color-before-primary-rgba-30 font-secondary text-15 mark-height-30 n-ls-5 p-0">30+</mark></p>
                        <span class="custom-font-tertiary text-6 text-dark n-ls-1 fst-italic ps-2">Years of Experience</span>
                    </div>
                </div>

                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                    <div class="py-2 d-flex align-items-center text-4-5 n-ls-1 text-dark">
                        <div>
                            <img src="img/demos/accounting-1/icons/icon-4.svg" width="48" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary me-md-2 p-relative top-2'}" />
                        </div>
                        <div class="ps-1">
                            <p class="mb-0 text-3-5 p-relative bottom-2"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                            <strong class="custom-font-secondary pe-2">Join Us</strong><span class="d-none d-md-inline-block pe-2"> | </span>1000+ clients globally!
                        </div>
                    </div>
                </div>

                <div class="appear-animation pt-4" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                    <span class="badge bg-light text-dark border custom-font-secondary border-all-light box-shadow-8 n-ls-05 rounded-pill text-uppercase font-weight-semibold text-2 px-3 py-2 px-1 me-1"><span class="d-inline-flex py-1 px-2">Quick Reply</span></span>
                    <p class="mb-0 text-dark mt-2 text-3-5">Usually in 24 hours in working days.</p>
                </div>

                <!-- Explore Further -->
                {% comment %} <div class="bg-secondary border-radius-2 p-relative overflow-hidden mt-5">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col px-0 text-center text-color-light">
                                <div class="d-flex flex-column">
                                    <div class="flex-grow-1">
                                        <span class="d-inline-block text-3 py-4 px-5 text-uppercase font-weight-medium custom-bg-gradient-1 w-100">Explore Further:</span>
                                    </div>
                                    <div class="me-3 ps-3 p-relative bottom-1 pt-3">
                                        <a href="demo-accounting-1-process.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2">Learn About Our Process <i class="fas fa-arrow-right ms-2"></i></a>
                                    </div>
                                    <div class="py-3 p-relative bottom-1 border-start border-color-light-rgba-20">
                                        <a href="demo-accounting-1-projects.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2">View Our Projects <i class="fas fa-arrow-right ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

            </div>
        </div>
    </div>

</div>


{% endblock main %}