{% load static %}
<!doctype html>
<html lang="en" dir="ltr">
<head>

    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | Zanex Admin</title>

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'admin/images/brand/favicon.ico' %}" />
    <link href="{% static 'admin/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'admin/css/dark-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'admin/css/skin-modes.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/sidemenu.css' %}" rel="stylesheet" id="sidemenu-theme">
    <link href="{% static 'admin/plugins/single-page/css/main.css' %}" rel="stylesheet">
    <link href="{% static 'admin/plugins/charts-c3/c3-chart.css' %}" rel="stylesheet"/>
    <link href="{% static 'admin/plugins/p-scroll/perfect-scrollbar.css' %}" rel="stylesheet" />
    <link href="{% static 'admin/css/icons.css' %}" rel="stylesheet"/>
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="{% static 'admin/colors/color1.css' %}" />

</head>
<body>

<div class="login-img">
    <div id="global-loader">
        <img src="{% static 'admin/images/loader.svg' %}" class="loader-img" alt="Loader">
    </div>

    <div class="page">
        <div class="">

            {% if messages %}
                {% for message in messages %}
                    <div class="msg_pesan" alt="{{ message.tags }}" data="{{ message }}"></div>
                {% endfor %}
            {% endif %}

            <div class="col col-login mx-auto">
                <div class="text-center">
                    <img src="{% static 'admin/images/brand/logo.png' %}" class="header-brand-img" alt="">
                </div>
            </div>

            <form method="POST" class="login100-form validate-form" novalidate>
                {% csrf_token %}
                <span class="login100-form-title">Masuk ke Akun Anda</span>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="text" name="email" placeholder="Email atau Username" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100"><i class="zmdi zmdi-email" aria-hidden="true"></i></span>
                </div>

                <div class="wrap-input100 validate-input">
                    <input class="input100" type="password" name="password" placeholder="Password" required>
                    <span class="focus-input100"></span>
                    <span class="symbol-input100"><i class="zmdi zmdi-lock" aria-hidden="true"></i></span>
                </div>

                <div class="text-end pt-1">
                    <p class="mb-0"><a href="" class="text-primary ms-1">Lupa Password?</a></p>
                </div>

                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn btn-primary">Login</button>
                </div>

                <div class="text-center pt-3">
                    <p class="text-dark mb-0">Belum punya akun? <a href="" class="text-primary ms-1">Daftar</a></p>
                </div>
            </form>

        </div>
    </div>
</div>

<!-- JS -->
<script src="{% static 'admin/js/jquery.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'admin/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'admin/js/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'admin/js/circle-progress.min.js' %}"></script>
<script src="{% static 'admin/plugins/p-scroll/perfect-scrollbar.js' %}"></script>
<script src="{% static 'admin/plugins/input-mask/jquery.mask.min.js' %}"></script>
<script src="{% static 'admin/js/custom.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
function show_notif(message, iconType) {
    Swal.fire({
        text: message,
        icon: iconType,
        confirmButtonText: "OK",
        confirmButtonColor: "#2d5b89"
    });
}

// Tampilkan semua pesan notifikasi
document.querySelectorAll(".msg_pesan").forEach(function(el){
    show_notif(el.getAttribute("data"), el.getAttribute("alt"));
});
</script>

</body>
</html>
