# Byte-compiled / optimized / DLL files
*.py[cod]
__pycache__/
*.so
*.pyc


# If you want to ignore settings.py (not recommended in production)
ecolota_project/settings.py
media/*
*.sql
*.sqlite3
static_root/*
ecolota_app/migrations/*
ecolota_frontend_app/migrations/*