{% load static %}
<header id="header" data-plugin-options="{'stickyScrollUp': true, 'stickyEnabled': true, 'stickyEffect': 'shrink', 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': false, 'stickyChangeLogo': false, 'stickyStartAt': 100, 'stickyHeaderContainerHeight': 100}">
    <div class="header-body border-top-0 h-auto box-shadow-none">
        <div class="container-fluid px-3 px-lg-5 p-static">
            <div class="row align-items-center py-3">
                <div class="col-auto col-lg-2 col-xxl-3 me-auto me-lg-0">
                    <div class="header-logo" data-clone-element-to="#offCanvasLogo">
                        <a href="{% url 'app:index_user' %}">
                            <img alt="Gunung Kidul" width="230" height="50" src="{% static 'frontend/img/icons/logo.png' %}">
                        </a>
                    </div>      
                </div>
                <div class="col-auto col-lg-8 col-xxl-6 justify-content-lg-center">
                    <div class="header-nav header-nav-links justify-content-lg-center">
                        <div class="header-nav-main header-nav-main-text-capitalize header-nav-main-arrows header-nav-main-effect-2">
                            <nav class="collapse">
                                <ul class="nav nav-pills" id="mainNav">
                                    <li>
                                        <a href="{% url 'app:index_user' %}" class="{% if request.resolver_match.url_name == 'index_user' %} active-nav {% endif %}">
                                            Home
                                        </a>
                                    </li>
                                    <li>
                                        <a class="{% if request.resolver_match.url_name == 'tentang_user' %} active-nav {% endif %}" href="{% url 'app:tentang_user' %}">
                                            Tentang
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="" class="nav-link dropdown-toggle">Wisata</a>
                                        <ul class="dropdown-menu">
                                            <li><a href="{% url 'app:wisata_bahari_frontend' %}" class="dropdown-item anim-hover-translate-right-5px transition-3ms bg-transparent text-color-hover-primary text-lg-2 py-lg-2">Wisata Bahari</a></li>
                                            <li><a href="{% url 'app:wisata_kuliner_frontend' %}" class="dropdown-item anim-hover-translate-right-5px transition-3ms bg-transparent text-color-hover-primary text-lg-2 py-lg-2">Wisata Kuliner</a></li>
                                            <li><a href="{% url 'app:wisata_sejarah_frontend' %}" class="dropdown-item anim-hover-translate-right-5px transition-3ms bg-transparent text-color-hover-primary text-lg-2 py-lg-2">Wisata Sejarah</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'app:penginapan_frontend' %}">
                                            Penginapan
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'app:faq_frontend' %}">
                                            FAQ
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="{% url 'app:kontak_frontend' %}">
                                            Kontak
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-auto col-lg-2 col-xxl-3">
                    <div class="d-flex justify-content-end align-items-center">
                        <form method="GET" action="{% url 'app:search' %}" class="d-flex ms-3">
                            <input type="text" name="q" class="form-control" placeholder="Cari wisata & Penginapan..." required>
                            <button type="submit" class="btn btn-rounded btn-success box-shadow-7 font-weight-medium px-3 py-2 text-2-5 btn-swap-1 ms-2 rounded">
                                <span><i class="fa-solid fa-magnifying-glass"></i></span>
                            </button>
                        </form>
                        <button class="btn header-btn-collapse-nav rounded-pill" data-bs-toggle="offcanvas" href="#offcanvasMain" role="button" aria-controls="offcanvasMain">
                            <i class="fas fa-bars"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>