{% extends "backend/admin_layout/base_layout.html" %}
{% load static %}
{% load humanize %}
{% block title %} Detail Penginapan {% endblock %}
{% block main %}

<div class="side-app">
    <div class="page-header">
        <div>
            <h1 class="page-title">Detail Penginapan</h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Penginapan</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ penginapan.nama_penginapan }}</li>
            </ol>
        </div>
    </div>

    <div class="row row-sm">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="mb-0">{{ penginapan.nama_penginapan }}</h1>
                </div>
                <div class="card-body">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Harga</b></h4>
                                    <p>{{ penginapan.harga|intcomma }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Deskripsi</b></h4>
                                    <p>{{ penginapan.deskripsi }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Fasilitas</b></h4>
                                    <p>{{ penginapan.fasilitas }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>No Telepon</b></h4>
                                    <p>{{ penginapan.no_telepon }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Alamat</b></h4>
                                    <p>{{ penginapan.alamat }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Link Google Maps</b></h4>
                                    <p><a href="{{ penginapan.maps }}" target="_blank">Lihat di Google Maps</a></p>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Maps Iframe</b></h4>
                                    <p>{{ penginapan.embed_maps }}</p>
                                </div>
                            </div>
                        </div><!-- COL-END -->

                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4><b>Foto Penginapan</b></h4>
                                    <div class="row">
                                        {% for gambar in image_penginapan %}
                                            <div class="col-md-3 mb-3">
                                                <img src="{{ gambar.image.url }}" alt="Foto Penginapan" class="img-fluid" width="300px" height="300px">
                                            </div>
                                        {% empty %}
                                            <p>Belum ada foto tersedia.</p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div><!-- COL-END -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
