{% extends "frontend/base_layout/base_layout.html" %}{% load static %}
{% block title %} Tentang {% endblock %}
{% block main %}

        <div role="main" class="main px-3 px-lg-5">


            <div class="page-header py-0 bg-tertiary px-3 px-xl-0 border-radius-2 p-relative mb-0 overflow-hidden bg-size-cover bg-position-center overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url({% static 'frontend/img/bg_tentang/gnirengg.png' %});">                
                <div class="container p-relative z-index-5 py-2">
                    <div class="row mh-200px mh-lg-300px align-items-center py-4">
                        <div class="col">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                                <span class="badge bg-color-dark-rgba-30 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Tentang</span></span>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <h1 class="text-dark text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Tentang</h1>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                                <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                                    <li><a href="{% url 'app:index_user' %}" class="text-light text-decoration-none">Home</a></li>
                                    <li class="active text-light opacity-7">Tentang</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  

            <!-- Who We Are -->
            <div class="container pt-lg-5" id="intro">
                <div class="row align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                            <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Siapa Kita</span></span>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Gunung Kidul Explore</h2>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                            <p class="pe-lg-5 mb-0">Gunung Kidul, terletak di bagian selatan Yogyakarta, dikenal dengan keindahan alamnya yang menakjubkan dan beragam destinasi wisata yang mempesona. Dari pantai-pantai yang eksotis hingga goa-goa yang menakjubkan, Gunung Kidul adalah destinasi yang wajib dikunjungi bagi para pecinta alam dan petualang.</p>
                        </div>

                    </div>
                    <div class="col-lg-6 p-relative">
                        <div class="accordion accordion-modern-status accordion-modern-status-arrow accordion-modern-status-arrow-dark mb-4 my-lg-4 pb-3 pb-lg-0" id="accordionWhoWeAre">
                            <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                <div class="card-header bg-transparent" id="collapseWhoWeAreHeadingOne">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold" data-bs-toggle="collapse" data-bs-target="#collapseWhoWeAreOne" aria-expanded="true" aria-controls="collapseWhoWeAreOne">
                                            Visi Kami
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseWhoWeAreOne" class="collapse show" aria-labelledby="collapseWhoWeAreHeadingOne" data-bs-parent="#accordionWhoWeAre">
                                    <div class="card-body pt-0">
                                        <p class="mb-0">Menjadi destinasi wisata terkemuka yang mempromosikan keindahan alam Gunung Kidul melalui layanan wisata yang ramah dan informatif, sambil menjaga kelestarian alam dan budaya lokal.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                <div class="card-header bg-transparent" id="collapseWhoWeAreHeadingTwo">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhoWeAreTwo" aria-expanded="false" aria-controls="collapseWhoWeAreTwo">
                                            Misi Kami
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseWhoWeAreTwo" class="collapse" aria-labelledby="collapseWhoWeAreHeadingTwo" data-bs-parent="#accordionWhoWeAre">
                                    <div class="card-body pt-0">
                                        <p class="mb-0">Menyediakan pengalaman wisata yang luar biasa dengan memperkenalkan keindahan alam, budaya, dan tradisi Gunung Kidul kepada wisatawan. Kami berkomitmen untuk memberikan layanan terbaik dalam tur, penginapan, dan pengalaman lokal yang tak terlupakan.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                <div class="card-header bg-transparent" id="collapseWhoWeAreHeadingThree">
                                    <h4 class="card-title m-0">
                                        <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhoWeAreThree" aria-expanded="false" aria-controls="collapseWhoWeAreThree">
                                            Keunggulan Wisata Gunung Kidul Explore
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseWhoWeAreThree" class="collapse" aria-labelledby="collapseWhoWeAreHeadingThree" data-bs-parent="#accordionWhoWeAre">
                                    <div class="card-body pt-0">
                                        <p class="mb-0">
                                            <ul>
                                                <li>
                                                   <b> Keindahan Alam yang Luar Biasa </b>
                                                    <p>
                                                        Nikmati pesona alam Gunung Kidul dengan deretan pantai yang indah, bukit yang menawan, hingga gua yang mempesona.
                                                    </p>
                                                </li>
                                                <li>
                                                    <b> Wisata Edukatif dan Budaya </b>
                                                     <p>
                                                        Jelajahi kekayaan budaya lokal Gunung Kidul melalui berbagai acara dan kegiatan yang mendidik dan menginspirasi.
                                                     </p>
                                                 </li>
                                                 <li>
                                                    <b> Pelayanan Terbaik </b>
                                                     <p>
                                                        Kami berkomitmen memberikan layanan yang ramah, informatif, dan profesional untuk memastikan kenyamanan setiap wisatawan.
                                                     </p>
                                                 </li>
                                            </ul>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Icons -->
            <div class="container">
                <div class="row pt-3 pt-lg-5 pb-5">
                    <div class="col-lg-4 mb-4 mb-sm-5 mb-lg-0">
                        <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
                                <div class="p-absolute opacity-2 rotate-l-10">
                                    <img width="80" src="{% static 'frontend/img/icons/abstract-bg-1.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                </div>
                                <img src="{% static 'frontend/img/bg_tentang/panduan.png' %}" width="70" height="70" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                            </div>
                            <div class="feature-box-info w-100 ps-4 ms-1">
                                <h4 class="mb-1">Panduan Wisata</h4>
                                <p class="mb-0 pt-1 line-height-6">Informasi lengkap tentang objek wisata, jam buka, tiket masuk, dan tips perjalanan.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mb-4 mb-sm-5 mb-lg-0">
                        <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
                                <div class="p-absolute opacity-2 rotate-l-45">
                                    <img width="80" src="{% static 'frontend/img/icons/abstract-bg-1.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                </div>
                                <img src="{% static 'frontend/img/bg_tentang/rute.png' %}" width="70" height="70" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                            </div>
                            <div class="feature-box-info w-100 ps-4 ms-1">
                                <h4 class="mb-1">Peta Dan Rute</h4>
                                <p class="mb-0 pt-1 line-height-6">Peta interaktif dan panduan arah untuk memudahkan perjalanan Anda.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                            <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-start">
                                <div class="p-absolute opacity-2 rotate-l-30">
                                    <img width="80" src="{% static 'frontend/img/icons/abstract-bg-1.svg' %}" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                </div>
                                <img src="{% static 'frontend/img/bg_tentang/penginapan.png' %}" width="70" height="70" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'p-relative top-10'}" />
                            </div>
                            <div class="feature-box-info w-100 ps-4 ms-1">
                                <h4 class="mb-1">Penginapan Dan Kuliner</h4>
                                <p class="mb-0 pt-1 line-height-6">Rekomendasi hotel, homestay, serta tempat makan terbaik di Gunungkidul.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container">
                <div class="row py-3">
                    <div class="col">
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                            <div class="py-2 d-flex flex-column flex-md-row align-items-center justify-content-center text-4-5 n-ls-1 text-dark">
                                <img src="img/demos/accounting-1/icons/icon-4.svg" width="28" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary me-md-2'}" /> <strong class="custom-font-secondary pe-2">Join Us</strong><span class="d-none d-md-inline-block pe-2"> | </span>1000+ clients globally!
                                <p class="ms-md-2 mb-0 text-3-5 p-relative bottom-2"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="container pt-2 pb-1">
                <div class="row" data-masonry='{"percentPosition": true }'>
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <img class="img-fluid border-radius-2" src="{% static 'frontend/img/bg_tentang/goa.png' %}" alt="">
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <img class="img-fluid border-radius-2" src="{% static 'frontend/img/bg_tentang/apipurba.jpg' %}" height="40"alt="">
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <img class="img-fluid border-radius-2" src="{% static 'frontend/img/bg_tentang/mangol.png' %}" alt="">
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <img class="img-fluid border-radius-2" src="{% static 'frontend/img/bg_tentang/pantai.png' %}" alt="">
                    </div>
                    <div class="col-sm-6 col-lg-4 mb-4">
                        <img class="img-fluid border-radius-2" src="{% static 'frontend/img/bg_tentang/gnirengg.png' %}" alt="">
                    </div>
                </div>
            </div>

            <!-- Why Choose Us -->
            <!-- <div class="border-top border-top-color-grey-100 mt-5">
                <div class="container pt-4">
                    <div class="row py-5">

                        <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 p-relative">
                            <div class="accordion accordion-modern-status accordion-modern-status-arrow accordion-modern-status-arrow-dark" id="accordionWhyChooseUs">
                                <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                    <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingOne">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsOne" aria-expanded="false" aria-controls="collapseWhyChooseUsOne">
                                                Expert Team
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseWhyChooseUsOne" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingOne" data-bs-parent="#accordionWhyChooseUs">
                                        <div class="card-body pt-0">
                                            <p class="mb-0">Our expert team of certified accountants brings years of experience and deep industry knowledge to help you navigate complex financial landscapes. We’re dedicated to providing personalized, reliable, and results-driven services, ensuring your business thrives with our strategic financial guidance.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                    <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingTwo">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsTwo" aria-expanded="false" aria-controls="collapseWhyChooseUsTwo">
                                                Personalized Approach
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseWhyChooseUsTwo" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingTwo" data-bs-parent="#accordionWhyChooseUs">
                                        <div class="card-body pt-0">
                                            <p class="mb-0">Our personalized approach ensures your unique financial needs are met with tailored solutions. We take the time to understand your business, offering dedicated support and customized strategies to help you achieve your financial goals and drive long-term success.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                    <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingThree">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsThree" aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
                                                Reliable Service
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseWhyChooseUsThree" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingThree" data-bs-parent="#accordionWhyChooseUs">
                                        <div class="card-body pt-0">
                                            <p class="mb-0">Our firm is committed to providing reliable service you can trust. With a focus on accuracy and attention to detail, we deliver timely, dependable financial solutions, ensuring peace of mind and helping you make informed decisions to support your business's growth and success.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card card-default box-shadow-8 border-radius-2 bg-light">
                                    <div class="card-header bg-transparent" id="collapseWhyChooseUsHeadingFour">
                                        <h4 class="card-title m-0">
                                            <a class="accordion-toggle bg-transparent text-3-5 text-color-dark font-weight-semi-bold collapsed" data-bs-toggle="collapse" data-bs-target="#collapseWhyChooseUsFour" aria-expanded="false" aria-controls="collapseWhyChooseUsThree">
                                                Client-Centric Focus
                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseWhyChooseUsFour" class="collapse" aria-labelledby="collapseWhyChooseUsHeadingFour" data-bs-parent="#accordionWhyChooseUs">
                                        <div class="card-body pt-0">
                                            <p class="mb-0">Our client-centric focus means you are always our top priority. We build strong relationships by listening to your needs and providing responsive, tailored services. Your success drives our efforts, ensuring that we deliver value and exceed your expectations every step of the way.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                                <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4"><span class="d-inline-flex py-1 px-2">Let’s Work Together</span></span>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                                <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Why Choose Us?</h2>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                                <p>Whether you're a small business owner, an individual seeking tax advice, or a multinational corporation, Porto is here to support you. Contact us today to schedule a consultation and discover how we can help you achieve financial peace of mind.</p>
                            </div>
                            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                                <div class="d-flex pt-3 align-items-center">
                                    <a href="demo-accounting-1-contact.html" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                                        <span>Contact Us <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div> -->

            <!-- Team -->
            <!-- <div class="bg-quaternary border-radius-2 p-relative overflow-hidden mt-5">
                <div class="container p-relative z-index-1 py-4">
                    <div class="row px-3 px-xl-0 align-items-center py-5">
                        <div class="col">
                            <div class="row justify-content-center">
                                <div class="col-9 text-center">
                                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
                                        <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4"><span class="p-relative z-index-1">Meet The Professionals Full Of</span> <mark class="text-dark mark mark-color mark-color-primary mark-pos-2 mark-height-100 p-0 appear-animation" data-appear-animation data-appear-animation-delay="0">Expertise</mark> and <mark class="text-dark mark mark-color mark-color-primary mark-pos-2 mark-height-100 p-0 appear-animation" data-appear-animation data-appear-animation-delay="1500">Dedication</mark></h2>
                                    </div>
                                </div>
                            </div>

                            <div class="pt-2 pb-4">

                                <div class="carousel-half-full-width-wrapper carousel-half-full-width-right">
                                    <div class="owl-carousel owl-theme carousel-half-full-width-right nav-bottom nav-lg nav-transparent nav-borders nav-bottom-align-left rounded-nav mb-2" data-plugin-options="{'responsive': {'0': {'items': 1}, '768': {'items': 3}, '992': {'items': 4}, '1200': {'items': 5}}, 'loop': true, 'nav': true, 'dots': false, 'margin': 20}">

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-3.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">Laura Mitchell</h4>
                                                        <p class="line-height-7 text-3 mb-0">CEO & Founder</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-4.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">David Carter</h4>
                                                        <p class="line-height-7 text-3 mb-0">Audit Manager</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-5.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">Emily Thompson</h4>
                                                        <p class="line-height-7 text-3 mb-0">Financial Analyst</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-6.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">John Reynolds</h4>
                                                        <p class="line-height-7 text-3 mb-0">Client Services Director</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-7.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">Sarah Brooks</h4>
                                                        <p class="line-height-7 text-3 mb-0">Accounting Specialist</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>

                                        <div class="border-radius-2 overflow-hidden">
                                            <span class="thumb-info thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                                <span class="thumb-info-wrapper border-radius-0 rounded-top">
                                                    <img src="img/demos/accounting-1/team/team-8.jpg" loading="lazy" class="img-fluid" alt="">
                                                </span>											
                                                <span class="thumb-info-content">
                                                    <span class="thumb-info-content-inner bg-light p-4">
                                                        <h4 class="text-5 mb-1">Robert Hughes</h4>
                                                        <p class="line-height-7 text-3 mb-0">Forensic Accountant</p>
                                                        <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                            <ul class="social-icons social-icons-clean social-icons-medium">
                                                                <li class="social-icons-instagram">
                                                                    <a href="http://www.instagram.com/" target="_blank" title="Instagram">
                                                                        <i class="fab fa-instagram"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-x">
                                                                    <a href="http://www.x.com/" target="_blank" title="X">
                                                                        <i class="fab fa-x-twitter"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="social-icons-facebook">
                                                                    <a href="http://www.facebook.com/" target="_blank" title="Facebook">
                                                                        <i class="fab fa-facebook-f"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </span>
                                                    </span>
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">

                                <div class="d-flex flex-column flex-md-row justify-content-center text-center align-items-center py-3">
                                    <span class="badge bg-light text-dark border custom-font-secondary border-all-light box-shadow-8 n-ls-05 rounded-pill text-uppercase font-weight-semibold text-2 px-3 py-2 px-1 me-1"><span class="d-inline-flex py-1 px-2">We're Hiring</span></span>
                                    <p class="mb-0 text-dark ps-2 ms-1 text-3-5 pt-3 pt-md-0">Join our team of dedicated professionals - <a href="#" title="" class="text-decoration-underline text-color-secondary text-color-hover-primary">Apply Now!</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Our Commitment to You -->
            <!-- <div class="container py-4">
                <div class="row align-items-center py-5 my-3">
                    <div class="col">
                        <div class="row justify-content-center">
                            <div class="col-9 text-center">
                                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="0">
                                    <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Our Commitment to You</h2>
                                    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                                        <p>We are more than just your accountants; we are your partners in financial success. We work tirelessly to provide solutions that are not only effective but also aligned with your long-term goals. Your success is our success. Let's talk about your future.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row text-center justify-content-center">
                            <div class="col-lg-4 mb-4 mb-lg-0">
                                <div class="appear-animation px-lg-4" data-appear-animation="blurIn" data-appear-animation-delay="300">
                                    <div class="d-flex justify-content-center align-items-center pt-4">
                                        <strong class="d-inline-flex text-15 text-dark n-ls-5">90%</strong>
                                        <div class="p-2 ps-3">
                                            <img src="img/demos/accounting-1/icons/icon-6.svg" width="48" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                        </div>
                                    </div>
                                    <span class="custom-font-tertiary text-7 text-dark n-ls-1 fst-italic">Increased Profitability</span>
                                    <p class="mb-0 pt-2 text-3-5 line-height-7">Through strategic financial planning and detailed analysis.</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="appear-animation px-lg-4" data-appear-animation="blurIn" data-appear-animation-delay="600">
                                    <div class="d-flex justify-content-center align-items-center pt-4">
                                        <strong class="d-inline-flex text-15 text-dark n-ls-5">70%</strong>
                                        <div class="p-2 ps-3">
                                            <img src="img/demos/accounting-1/icons/icon-6.svg" width="48" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                                        </div>
                                    </div>
                                    <span class="custom-font-tertiary text-7 text-dark n-ls-1 fst-italic">Tax Savings</span>
                                    <p class="mb-0 pt-2 text-3-5 line-height-7">Saving our clients thousands of dollars each year.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- Explore Further -->
            <!-- <div class="bg-secondary border-radius-2 p-relative overflow-hidden">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col px-0 text-center text-color-light">
                            <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-center">
                                <div class="me-lg-4 flex-grow-1 flex-lg-grow-0">
                                    <span class="d-inline-block text-3 py-4 px-5 text-uppercase font-weight-medium custom-bg-gradient-1 w-100 rounded-pill">Explore Further:</span>
                                </div>
                                <div class="me-3 ps-3 p-relative bottom-1 pt-3 pt-lg-0">
                                    <a href="demo-accounting-1-process.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">Learn About Our Process <i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                                <div class="py-3 py-lg-0 p-relative bottom-1 border-start border-color-light-rgba-20">
                                    <a href="demo-accounting-1-contact.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">Get Free Consultation <i class="fas fa-arrow-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>                 -->

        </div>

        
{% endblock main %}