{% extends "frontend/base_layout/base_layout.html" %}{% load static %}
{% block title %} Wisata Kuliner {% endblock %}
{% block main %}
<div role="main" class="main px-3 px-lg-5">

    <div class="page-header py-0 bg-tertiary px-3 px-xl-0 border-radius-2 p-relative mb-0 overflow-hidden bg-size-cover bg-position-center overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url({% static 'frontend/img/bg_tentang/gnirengg.png' %});">                
        <div class="container p-relative z-index-5 py-2">
            <div class="row mh-200px mh-lg-300px align-items-center py-4">
                <div class="col">
                    <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                        <span class="badge bg-color-dark-rgba-30 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Wisata</span></span>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-dark text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Wisata Kuliner</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="{% url 'app:index_user' %}" class="text-light text-decoration-none">Home</a></li>
                            <li class="active text-light opacity-7">Wisata Kuliner</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- Icons -->
    <!-- <div class="border-bottom border-bottom-color-grey-100 mb-4">
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4 py-3 py-lg-0 mb-4 mb-sm-5 mb-lg-0">
                    <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="0">
                        <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center">
                            <div class="p-absolute opacity-2 rotate-l-10">
                                <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                            </div>
                            <img src="img/demos/accounting-1/icons/icon-1.svg" width="44" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                        </div>
                        <div class="feature-box-info w-100 ps-4 ms-1">
                            <h4 class="mt-2 mb-0">Global Accounting</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3 py-lg-0 mb-4 mb-sm-5 mb-lg-0">
                    <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
                        <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center">
                            <div class="p-absolute opacity-2 rotate-l-45">
                                <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                            </div>
                            <img src="img/demos/accounting-1/icons/icon-2.svg" width="44" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                        </div>
                        <div class="feature-box-info w-100 ps-4 ms-1">
                            <h4 class="mt-2 mb-0">Tax Consulting</h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 py-3 py-lg-0">
                    <div class="feature-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                        <div class="feature-box-icon bg-transparent w-auto h-auto p-0 top-0 align-items-center">
                            <div class="p-absolute opacity-2 rotate-l-30">
                                <img width="80" src="img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                            </div>
                            <img src="img/demos/accounting-1/icons/icon-3.svg" width="44" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': ''}" />
                        </div>
                        <div class="feature-box-info w-100 ps-4 ms-1">
                            <h4 class="mt-2 mb-0">Admin Services</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- <div class="container pt-5 pb-5" id="intro">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">Proudly showcase the diverse range of projects</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <p class="pe-lg-5 mb-5">At Porto, we believe in delivering tailored solutions that drive real results. Our team of seasoned professionals has partnered with businesses across various industries, providing expert accounting, auditing, tax planning, and financial advisory services. </p>
                </div>

                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                    <p class="mb-0 text-dark d-flex justify-content-center">
                        <img width="29" height="29" src="img/demos/accounting-1/icons/icon-8.svg" class="w-auto d-inline-flex p-relative bottom-2 me-2" alt="">
                        Below, you'll find a selection of our recent projects that illustrate our commitment
                    </p>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Portfolio -->
    <div class="bg-grey-100 my-5 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden">
        <div class="container py-3">
            <div class="row py-3">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center">
                        <ul class="nav nav-pills nav-pills-dark sort-source justify-content-center d-inline-flex border-lg border-2 p-1 rounded-pill" data-sort-id="portfolio2" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                            <!-- <li class="nav-item active" data-option-value="*"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill active" href="#">Show All</a></li>

                            <li class="nav-item" data-option-value=".accounting"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Accounting</a></li>
                            <li class="nav-item" data-option-value=".tax-planning"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Tax Planning</a></li>
                            <li class="nav-item" data-option-value=".business-advisory"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Business Advisory</a></li>
                            <li class="nav-item" data-option-value=".payroll-management"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Payroll Management</a></li>
                            <li class="nav-item" data-option-value=".global-accounting"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Global Accounting</a></li>
                            <li class="nav-item" data-option-value=".admin-services"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Admin Services</a></li> -->
                        </ul>
                        <div class="appear-animation mb-0" data-appear-animation="maskUp" data-appear-animation-delay="200">
                        <h2 class="mb-1"><b>Daftar Wisata Kuliner</b></h2>
                        </div>
                    </div>
                    <hr>

                    {% if kuliner %}
                    <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                        <div class="row portfolio-list sort-destination overflow-visible" data-sort-id="portfolio2">
                            {% for item in kuliner %}
                            <div class="col-12 col-sm-6 col-lg-4 isotope-item accounting">
                                <div class="portfolio-item">
                                    <div class="box-shadow-1 border-radius-2">
                                        <span class="thumb-info border-radius-2 bg-color-light thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                            
                                            <!-- Gambar Utama -->
                                            <span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content border-radius-0 rounded-top">
                                                <a href="" title="{{ item.nama_wisata }}">
                                                    <div style="height: 200px; overflow: hidden;">
                                                        {% if item.images.first %}
                                                            <img src="{{ item.images.first.image.url }}" class="img-fluid" alt="{{ item.nama_wisata }}" style="width: 100%; height: 100%; object-fit: cover;">
                                                        {% else %}
                                                            <img src="{% static 'frontend/img/default.jpg' %}" class="img-fluid" alt="No image" style="width: 100%; height: 100%; object-fit: cover;">
                                                        {% endif %}
                                                    </div>
                                                </a>
                                            </span>	

                                            <!-- Logo (opsional jika ada) -->
                                            {% if item.logo %}
                                            <span class="d-block text-center bg-grey py-3">
                                                <img src="{{ item.logo.url }}" class="img-fluid custom-el-7" alt="logo-{{ item.nama_wisata }}">
                                            </span>
                                            {% endif %}

                                            <!-- Konten -->
                                            <span class="thumb-info-content">
                                                <span class="thumb-info-content-inner bg-light p-4">
                                                    <h4 class="mb-1">{{ item.nama_wisata }}</h4>
                                                    <p class="line-height-7 mb-0">{{ item.deskripsi|truncatechars:50  }}</p>

                                                    <div class="d-flex align-items-center mt-2">
                                                        <div class="text-warning">
                                                            {% with ''|center:5 as range %}
                                                            {% for _ in range %}
                                                                <i class="fas fa-star"></i>
                                                            {% endfor %}
                                                            {% endwith %}
                                                        </div>
                                                        <span class="text-muted ms-2">({{ item.avg_rating|default:"0.0"|floatformat:1 }})</span>
                                                    </div>

                                                    <!-- Konten saat hover -->
                                                    <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                        <a href="{% url 'app:detail_wisata_frontend' slug=item.slug %}" class="text-uppercase font-weight-semibold text-decoration-underline">Lihat Detail</a>
                                                        <a href="{% url 'app:detail_wisata_frontend' slug=item.slug %}" class="btn btn-light btn-rounded box-shadow-7 btn-xl border-0 text-3 p-0 btn-with-arrow-solid p-absolute right-0 transform3dx-n100 bottom-7">
                                                            <span class="p-static bg-transparent transform-none">
                                                                <i class="fa-solid fa-arrow-right text-dark"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        </div>
                    </div>
                    {% else %}
                    <div class="container">
                        <div class="row portfolio-list sort-destination overflow-visible" data-sort-id="portfolio2">
                            <!-- Card 1 -->
                            <div class="col-12 col-sm-6 col-lg-4 isotope-item accounting">
                                <div class="portfolio-item">
                                    <div class="box-shadow-1 border-radius-2">
                                        <span class="thumb-info border-radius-2 bg-color-light thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                            <span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content border-radius-0 rounded-top">
                                                <a href="" title="Tidak Ada">
                                                    <img src="{% static 'frontend/img/default_image/default.jpg' %}" class="img-fluid" alt="No image">
                                                </a>
                                            </span>	
                                            <span class="thumb-info-content">
                                                <span class="thumb-info-content-inner bg-light p-4">
                                                    <h4 class="mb-1">Tidak Ada Wisata</h4>
                                                    <p class="line-height-7 mb-0">Tidak Ada Wisata</p>
                                                    <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                        <a href="#" class="text-uppercase font-weight-semibold text-decoration-underline">Lihat Detail</a>
                                                        <a href="#" class="btn btn-light btn-rounded box-shadow-7 btn-xl border-0 text-3 p-0 btn-with-arrow-solid p-absolute right-0 transform3dx-n100 bottom-7">
                                                            <span class="p-static bg-transparent transform-none">
                                                                <i class="fa-solid fa-arrow-right text-dark"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Card 2 -->
                            <div class="col-12 col-sm-6 col-lg-4 isotope-item accounting">
                                <div class="portfolio-item">
                                    <div class="box-shadow-1 border-radius-2">
                                        <span class="thumb-info border-radius-2 bg-color-light thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                            <span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content border-radius-0 rounded-top">
                                                <a href="" title="Tidak Ada">
                                                    <img src="{% static 'frontend/img/default_image/default.jpg' %}" class="img-fluid" alt="No image">
                                                </a>
                                            </span>	
                                            <span class="thumb-info-content">
                                                <span class="thumb-info-content-inner bg-light p-4">
                                                    <h4 class="mb-1">Tidak Ada Wisata</h4>
                                                    <p class="line-height-7 mb-0">Tidak Ada Wisata</p>
                                                    <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                        <a href="#" class="text-uppercase font-weight-semibold text-decoration-underline">Lihat Detail</a>
                                                        <a href="#" class="btn btn-light btn-rounded box-shadow-7 btn-xl border-0 text-3 p-0 btn-with-arrow-solid p-absolute right-0 transform3dx-n100 bottom-7">
                                                            <span class="p-static bg-transparent transform-none">
                                                                <i class="fa-solid fa-arrow-right text-dark"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <!-- Card 3 -->
                            <div class="col-12 col-sm-6 col-lg-4 isotope-item accounting">
                                <div class="portfolio-item">
                                    <div class="box-shadow-1 border-radius-2">
                                        <span class="thumb-info border-radius-2 bg-color-light thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                            <span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content border-radius-0 rounded-top">
                                                <a href="" title="Tidak Ada">
                                                    <img src="{% static 'frontend/img/default_image/default.jpg' %}" class="img-fluid" alt="No image">
                                                </a>
                                            </span>	
                                            <span class="thumb-info-content">
                                                <span class="thumb-info-content-inner bg-light p-4">
                                                    <h4 class="mb-1">Tidak Ada Wisata</h4>
                                                    <p class="line-height-7 mb-0">Tidak Ada Wisata</p>
                                                    <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                        <a href="#" class="text-uppercase font-weight-semibold text-decoration-underline">Lihat Detail</a>
                                                        <a href="#" class="btn btn-light btn-rounded box-shadow-7 btn-xl border-0 text-3 p-0 btn-with-arrow-solid p-absolute right-0 transform3dx-n100 bottom-7">
                                                            <span class="p-static bg-transparent transform-none">
                                                                <i class="fa-solid fa-arrow-right text-dark"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if kuliner.paginator.num_pages > 1 %}
        <div class="pt-3 pb-5">
            <ul class="pagination pagination-rounded pagination-md justify-content-center">

                {% if kuliner.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-transparent text-dark" href="?page={{ kuliner.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-left"></i></span>
                </li>
                {% endif %}

                {% for num in kuliner.paginator.page_range %}
                    {% if kuliner.number == num %}
                        <li class="page-item active">
                            <span class="page-link bg-secondary text-light border-color-secondary">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link bg-transparent text-dark" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if kuliner.has_next %}
                <li class="page-item">
                    <a class="page-link bg-transparent text-dark" href="?page={{ kuliner.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-right"></i></span>
                </li>
                {% endif %}

            </ul>
        </div>
        {% endif %}



    <!-- <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mb-5 mb-lg-0 p-relative z-index-1">
                <div class="sticky-container h-100">
                    <div data-plugin-sticky data-plugin-options="{'minWidth': 0, 'containerSelector': '.sticky-container', 'padding': {'top': 0, 'bottom': 0}}">
                        <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                            <span class="badge bg-gradient-light-primary-rgba-20 text-secondary rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-4 mt-4"><span class="d-inline-flex py-1 px-2">Loved by Our Clients <i class="fa-solid fa-heart ms-2 custom-text-color-1"></i></span></span>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                            <h2 class="text-9 text-lg-12 font-weight-semibold line-height-1 mb-4">What Our Clients Say</h2>
                        </div>
                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
                            <p>Our commitment to delivering exceptional accounting services is reflected in the feedback we receive from our valued clients.</p>
                        </div>

                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600">
                            <div class="py-2 d-flex text-4-5 n-ls-1 text-dark">
                                <img src="img/demos/accounting-1/icons/icon-4.svg" width="28" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary me-2'}" /> <strong class="custom-font-secondary pe-2">Join Us</strong> | 1000+ clients globally!
                            </div>
                        </div>

                        <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
                            <div class="d-flex pt-4 align-items-center">
                                <a href="demo-accounting-1-contact.html" class="btn btn-rounded btn-dark box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                                    <span>Become a Client <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
                        <div class="card-body py-3 px-2">
                            <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                <div class="testimonial-author pb-3">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="img/clients/client-1.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                                    </div>
                                    <p><strong class="font-weight-bold">John S.</strong><span>CEO &amp; Founder - Okler</span></p>
                                </div>
                                <div class="px-4 mx-2 pt-2 pb-3">
                                    <p>The team at Porto has been invaluable to my business. They have consistently provided expert advice and helped us navigate through complex tax regulations. Their attention to detail and commitment to customer service are second to none. I highly recommend their services to any business owner looking for reliable accounting support.</p>
                                    <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="card border-radius-2 bg-color-light border-0 box-shadow-9 mb-5">
                        <div class="card-body py-3 px-2">
                            <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                <div class="testimonial-author pb-3">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="img/clients/client-2.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                                    </div>
                                    <p><strong class="font-weight-bold">Emily T.</strong><span>Small Business Owner</span></p>
                                </div>
                                <div class="px-4 mx-2 pt-2 pb-3">
                                    <p>I was overwhelmed with the financial side of my business, but Porto made everything so much easier. They helped me set up my accounts, manage my taxes, and plan for the future. The peace of mind they have given me is priceless. I couldn't be happier with their service.</p>
                                    <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">
                    <div class="card border-radius-2 bg-color-light border-0 box-shadow-9">
                        <div class="card-body py-3 px-2">
                            <div class="testimonial testimonial-style-4 border-0 box-shadow-none m-0 p-0">
                                <div class="testimonial-author pb-3">
                                    <div class="testimonial-author-thumbnail">
                                        <img src="img/clients/client-3.jpg" loading="lazy" class="img-fluid rounded-circle" alt="">
                                    </div>
                                    <p><strong class="font-weight-bold">Michael K.</strong><span>Entrepreneur</span></p>
                                </div>
                                <div class="px-4 mx-2 pt-2 pb-3">
                                    <p>Working with Porto has been a game-changer for my startup. They took the time to understand my business needs and tailored their services accordingly. Their expertise and proactive approach have been crucial in helping my business grow. I truly feel like they are a partner in my success.</p>
                                    <p class="mb-0"><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i><i class="fas fa-star custom-text-color-2 text-2"></i></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Explore Further -->
    <!-- <div class="bg-secondary border-radius-2 p-relative overflow-hidden mt-5">
        <div class="container-fluid">
            <div class="row">
                <div class="col px-0 text-center text-color-light">
                    <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-center">
                        <div class="me-lg-4 flex-grow-1 flex-lg-grow-0">
                            <span class="d-inline-block text-3 py-4 px-5 text-uppercase font-weight-medium custom-bg-gradient-1 w-100 rounded-pill">Explore Further:</span>
                        </div>
                        <div class="me-3 ps-3 p-relative bottom-1 pt-3 pt-lg-0">
                            <a href="demo-accounting-1-process.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">Learn About Our Process <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                        <div class="py-3 py-lg-0 p-relative bottom-1 border-start border-color-light-rgba-20">
                            <a href="demo-accounting-1-contact.html" class="btn btn-arrow-effect-1 bg-transparent text-light border-0 text-lg-3-5 py-2 py-lg-0">Get Free Consultation <i class="fas fa-arrow-right ms-2"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

</div>
{% endblock main %}