{% extends "frontend/base_layout/base_layout.html" %}{% load static %}
{% block title %} Wisata Bahari {% endblock %}
{% block main %}
<div role="main" class="main px-3 px-lg-5">

    <div class="page-header py-0 bg-tertiary px-3 px-xl-0 border-radius-2 p-relative mb-0 overflow-hidden bg-size-cover bg-position-center overlay overlay-color-dark overlay-show overlay-op-5" style="background-image: url({% static 'frontend/img/bg_tentang/gnirengg.png' %});">                
        <div class="container p-relative z-index-5 py-2">
            <div class="row mh-200px mh-lg-300px align-items-center py-4">
                <div class="col">
                    <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                        <span class="badge bg-color-dark-rgba-30 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3"><span class="d-inline-flex py-1 px-2">Wisata</span></span>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-dark text-9 text-lg-12 text-color-light font-weight-semibold line-height-1 mb-2">Wisata Bahari</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="{% url 'app:index_user' %}" class="text-light text-decoration-none">Home</a></li>
                            <li class="active text-light opacity-7">Wisata Bahari</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <!-- Portfolio -->
    <div class="bg-grey-100 my-5 px-3 px-xl-0 border-radius-2 p-relative overflow-hidden">
        <div class="container py-3">
            <div class="row py-3">
                <div class="col">
                    <div class="d-flex align-items-center justify-content-center">
                        <ul class="nav nav-pills nav-pills-dark sort-source justify-content-center d-inline-flex border-lg border-2 p-1 rounded-pill" data-sort-id="portfolio2" data-option-key="filter" data-plugin-options="{'layoutMode': 'fitRows', 'filter': '*'}">
                            <!-- <li class="nav-item active" data-option-value="*"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill active" href="#">Show All</a></li>
                            <li class="nav-item" data-option-value=".accounting"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Accounting</a></li>
                            <li class="nav-item" data-option-value=".tax-planning"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Tax Planning</a></li>
                            <li class="nav-item" data-option-value=".business-advisory"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Business Advisory</a></li>
                            <li class="nav-item" data-option-value=".payroll-management"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Payroll Management</a></li>
                            <li class="nav-item" data-option-value=".global-accounting"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Global Accounting</a></li>
                            <li class="nav-item" data-option-value=".admin-services"><a class="nav-link text-3 px-4 py-2 font-weight-medium rounded-pill" href="#">Admin Services</a></li> -->
                        </ul>
                        <div class="appear-animation mb-0" data-appear-animation="maskUp" data-appear-animation-delay="200">
                        <h2 class="mb-0"><b>Daftar Wisata Bahari</b></h2>
                        </div>
                    </div>
                    <hr>

                    {% if bahari %}
                    <div class="sort-destination-loader sort-destination-loader-showing mt-4 pt-2">
                        <div class="row portfolio-list sort-destination overflow-visible" data-sort-id="portfolio2">
                            {% for item in bahari %}
                            <div class="col-12 col-sm-6 col-lg-4 isotope-item accounting">
                                <div class="portfolio-item">
                                    <div class="box-shadow-1 border-radius-2">
                                        <span class="thumb-info border-radius-2 bg-color-light thumb-info-no-overlay thumb-info-show-hidden-content-hover">
                                            
                                            <!-- Gambar Utama -->
                                            <span class="thumb-info-wrapper overlay overlay-show overlay-gradient-bottom-content border-radius-0 rounded-top">
                                                <a href="" title="{{ item.nama_wisata }}">
                                                    {% if item.images.first %}
                                                        <img src="{{ item.images.first.image.url }}" class="img-fluid" alt="{{ item.nama_wisata }}">
                                                    {% else %}
                                                        <img src="{% static 'frontend/img/default.jpg' %}" class="img-fluid" alt="No image">
                                                    {% endif %}
                                                </a>
                                            </span>	

                                            <!-- Logo (opsional jika ada) -->
                                            {% if item.logo %}
                                            <span class="d-block text-center bg-grey py-3">
                                                <img src="{{ item.logo.url }}" class="img-fluid custom-el-7" alt="logo-{{ item.nama_wisata }}">
                                            </span>
                                            {% endif %}

                                            <!-- Konten -->
                                            <span class="thumb-info-content">
                                                <span class="thumb-info-content-inner bg-light p-4">
                                                    <h4 class="mb-1">{{ item.nama_wisata }}</h4>
                                                    <p class="line-height-7 mb-0">{{ item.deskripsi|truncatechars:50  }}</p>

                                                    <!-- Konten saat hover -->
                                                    <span class="thumb-info-content-inner-hidden p-absolute d-block w-100 py-3">
                                                        <a href="{% url 'app:detail_wisata_frontend' slug=item.slug %}" class="text-uppercase font-weight-semibold text-decoration-underline">Lihat Detail</a>
                                                        <a href="{% url 'app:detail_wisata_frontend' slug=item.slug %}" class="btn btn-light btn-rounded box-shadow-7 btn-xl border-0 text-3 p-0 btn-with-arrow-solid p-absolute right-0 transform3dx-n100 bottom-7">
                                                            <span class="p-static bg-transparent transform-none">
                                                                <i class="fa-solid fa-arrow-right text-dark"></i>
                                                            </span>
                                                        </a>
                                                    </span>
                                                </span>
                                            </span>

                                        </span>
                                    </div>
                                </div>
                            </div>
                            {% endfor %} 
                        </div>
                    </div>
                    {% else %}
                    <div class="text-center py-5">
                            <h4>Tidak ada data wisata ditemukan.</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
        {% if bahari.paginator.num_pages > 1 %}
        <div class="pt-3 pb-5">
            <ul class="pagination pagination-rounded pagination-md justify-content-center">

                {% if bahari.has_previous %}
                <li class="page-item">
                    <a class="page-link bg-transparent text-dark" href="?page={{ bahari.previous_page_number }}"><i class="fas fa-angle-left"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-left"></i></span>
                </li>
                {% endif %}

                {% for num in bahari.paginator.page_range %}
                    {% if bahari.number == num %}
                        <li class="page-item active">
                            <span class="page-link bg-secondary text-light border-color-secondary">{{ num }}</span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link bg-transparent text-dark" href="?page={{ num }}">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if bahari.has_next %}
                <li class="page-item">
                    <a class="page-link bg-transparent text-dark" href="?page={{ bahari.next_page_number }}"><i class="fas fa-angle-right"></i></a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link bg-transparent text-dark"><i class="fas fa-angle-right"></i></span>
                </li>
                {% endif %}

            </ul>
        </div>
        {% endif %}

</div>
{% endblock main %}