{% load static %}
<div class="sidebar sidebar-right sidebar-animate">
  <div class="panel panel-primary card mb-0 shadow-none border-0">
    <div class="tab-menu-heading border-0 d-flex p-3">
      <div class="card-title mb-0">Profile</div>
      <div class="card-options ms-auto">
        <a href="#" class="sidebar-icon text-end float-end me-1" data-bs-toggle="sidebar-right" data-target=".sidebar-right"><i class=" "></i></a>
      </div>
    </div>
    <div class="panel-body tabs-menu-body latest-tasks p-0 border-0">
      <div class="tabs-menu border-bottom"></div>
      <div class="tab-content">
        <div class="card-body text-center">
          <div class="dropdown user-pro-body">
            <div class=""><img alt="user-img" class="avatar avatar-xl brround mx-auto text-center" src="{%  static 'images/faces/6.jpg" /><span class="avatar-status profile-status bg-green"></span></div>
            <div class="user-info mg-t-20">
              <h6 class="fw-semibold mt-2 mb-0">Mintrona Pechon</h6>
              <span class="mb-0 text-muted fs-12">Premium Member</span>
            </div>
          </div>
        </div>
        <a class="dropdown-item d-flex border-bottom border-top" href="profile.html">
          <div class="d-flex">
            <i class="fe fe-user me-3 tx-20 text-muted"></i>
            <div class="pt-1">
              <h6 class="mb-0">My Profile</h6>
              <p class="tx-12 mb-0 text-muted">Profile Personal information</p>
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex border-bottom" href="chat.html">
          <div class="d-flex">
            <i class="fe fe-message-square me-3 tx-20 text-muted"></i>
            <div class="pt-1">
              <h6 class="mb-0">My Messages</h6>
              <p class="tx-12 mb-0 text-muted">Person message information</p>
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex border-bottom" href="emailservices.html">
          <div class="d-flex">
            <i class="fe fe-mail me-3 tx-20 text-muted"></i>
            <div class="pt-1">
              <h6 class="mb-0">My Mails</h6>
              <p class="tx-12 mb-0 text-muted">Persons mail information</p>
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex border-bottom" href="editprofile.html">
          <div class="d-flex">
            <i class="fe fe-settings me-3 tx-20 text-muted"></i>
            <div class="pt-1">
              <h6 class="mb-0">Account Settings</h6>
              <p class="tx-12 mb-0 text-muted">Settings Information</p>
            </div>
          </div>
        </a>
        <a class="dropdown-item d-flex border-bottom" href="login.html">
          <div class="d-flex">
            <i class="fe fe-power me-3 tx-20 text-muted"></i>
            <div class="pt-1">
              <h6 class="mb-0">Sign Out</h6>
              <p class="tx-12 mb-0 text-muted">Account Signout</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
