{% extends "backend/admin_layout/base_layout.html" %}
{% load static %}
{% load humanize %}

{% block title %} Daftar Berita {% endblock %}

{% block main %}
<div class="side-app">
  <div class="page-header">
    <div>
      <h1 class="page-title">Daftar Berita</h1>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Berita</a></li>
        <li class="breadcrumb-item active" aria-current="page">Daftar Berita</li>
      </ol>
    </div>
  </div>

  <div class="row row-sm">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h3 class="card-title">Daftar Berita</h3>
          <a href="{% url 'wisata:tambah_berita' %}" class="btn btn-success">Tambah Berita</a>
        </div>
        <div class="card-body">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
          <div class="table-responsive">
            <table class="table table-bordered text-nowrap border-bottom w-100" id="responsive-datatable">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Judul</th>
                  <th>Tags</th>
                  <th>Kategori</th>
                  <th>Tanggal</th>
                  <th>Action</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                {% for dt in berita_list %}
                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>{{ dt.title|truncatechars:30 }}</td>
                  <td>{{ dt.tags|truncatechars:20 }}</td>
                  <td>{{ dt.kategori|title }}</td>
                  <td>{{ dt.created_at|date:"d M Y" }}</td>
                  <td>
                    <!-- Edit -->
                    <a class="btn btn-primary btn-sm rounded-11 me-2" href="{% url 'wisata:edit_berita' id_berita=dt.berita_id %}">
                      <i><svg class="table-edit" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg></i>
                    </a>
                    <!-- Hapus -->
                    <a class="btn btn-danger btn-sm rounded-11" data-bs-toggle="tooltip" data-bs-original-title="Delete" href="{% url 'wisata:hapus_berita' id_berita=dt.berita_id %}" data-message="Apakah Anda yakin ingin menghapus Berita ini?">
                      <i><svg class="table-delete" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 0 24 24" width="16"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM8 9h8v10H8V9zm7.5-5l-1-1h-5l-1 1H5v2h14V4h-3.5z"/></svg></i>
                    </a>
                  </td>
                  <td>
                    <a href="{% url 'wisata:detail_berita' slug=dt.slug %}">Lihat Detail</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
